/* ---------- nav css part start ----------- */
#nav {
    width: 100%;
    padding-top: 20px;
    position: absolute;
}

.nav_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo_col .logo img {
    width: 140px;
    transition: all linear .3s;
}

.nav_logo_col .logo img:hover {
    transform: scale(1.1);
}

.nav_social_col {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav_social_col i {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #EFE7E3;
    line-height: 40px;
    text-align: center;
    color: #5A5F66;
    font-size: 20px;
    transition: all linear .3s;
}

.nav_social_col i:hover {
    background: var(--brand_color);
    color: #fff;
}

/* ---------- nav css part end ----------- */
/* ---------- footer css part start ----------- */
#footer {
    background: #222;
    padding: 20px 0px;
}

.footer_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_text h2 {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}

.footer_icon i {
    margin-left: 15px;
    font-size: 18px;
    color: #fff;
    transition: all linear .3s;
}

.footer_icon i:hover {
    color: var(--brand_color);
}
/* ---------- footer css part end ----------- */